{% extends "base.html" %}

{% block title %}Infracciones{% endblock %}
{% block content %}

    <h3 class="text-center">Lista de infracciones</h3>
    <div class="container">
        <div class="row">
            <table class="table table-hover table-fixed w-auto">
                <thead>
                    <tr>
                    <th class="th-sm col-1" scope="col">Código</th>
                    <th class="th-sm" scope="col">Descripción</th>
                    <th class="th-sm col-1" scope="col">Multa</th>
                    <th class="th-sm col-1" scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% if object_list%}
                        {% for infraction in object_list %}

                            <tr {% if infraction.impound %} class="table-danger" {% endif %}>
                                <th scope="row">{{ infraction.code }}</th>
                                <td>{{ infraction.description }}</td>
                                <td>{{ infraction.fine }} SMDLV</td>
                                <td>$ {{ infraction.get_value }}</td>
                            </tr>

                        {% endfor %}
                    {% else %}

                        <tr>
                            <th scope="row" colspan="4">No tiene vehículos registrados</th>
                        </tr>

                    {% endif %}

                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
