{% extends "base.html" %}

{% block title %}Mis vehículos{% endblock %}
{% block content %}

    <h3 class="text-center">Mis vehículos</h3>
    <div class="container text-center">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                    <th class="th-sm col-2"  scope="col">Placa</th>
                    <th class="th-sm col-2"  scope="col">Tipo</th>
                    <th class="th-sm col-1"  scope="col">Marca</th>
                    <th class="th-sm col-2"  scope="col">Modelo</th>
                    <th class="th-sm col-1"  scope="col">Año</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% if vehicles%}
                        {% for vehicle in vehicles %}

                            <tr>
                                <th scope="row">{{ vehicle.license_plate }}</th>
                                <td>{{ vehicle.get_type_display }}</td>
                                <td>{{ vehicle.brand }}</td>
                                <td>{{ vehicle.model }}</td>
                                <td>{{ vehicle.year }}</td>
                            </tr>

                        {% endfor %}
                    {% else %}

                        <tr>
                            <th scope="row" colspan="4">No tiene vehículos registrados</th>
                        </tr>

                    {% endif %}

                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
